.tipo-fuego {
    background: #FF3021;
    border: 1px solid #CC261A;
}

.tipo-volador {
    background: #8D9DFA;
    border: 1px solid #7985CE;
}

.tipo-electrico {
    background: #FFC530;
    border: 1px solid #CC9E26;
}