body {
  background: #eee;
}

.layout-horizontal {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.layout-vertical {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
