.button {
  border-style: solid;
  display: flex;
  flex-direction: column;
  padding: 12px 117px;
  border-radius: 5px;
}

.button.primario {
  color: #ffffff;
  background-color: #9378ff;
  border-color: #9378ff;
}

.button.secundario {
  color: #9378ff;
  background-color: #ffffff;
  border: 1px solid #9378ff;
}
